.home {
  background-image: url("../assets/Landing-Page.gif");
  background-size: cover;
  /* width: 100vw; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logohome {
  margin-top: 40px;
  width: 300px;
  height: 300px;
}

.home .join-game{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 275px;
  margin-top: 1.5rem;
}
.home .join-game input{
  width: 120px;
  border: 1px solid black;
  border-radius: 10px;
  height: 20px;
  text-align: center;
}
.home .join-btn{
  margin-top: 1rem;
  width: 90px;
  height: 35px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 5px;
  background: #2D932B;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
}

.home .buttons{
  display: flex;
  margin-top: -2rem;
  margin-left: 275px;
}

.home .buttons .create-btn{
  width: 100px;
  height: 40px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 5px;
  background: #BA8C15;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
}

.home .join-btn:hover{
  background: #064f05;
}

.home .buttons .create-btn:hover{
  background: #876205;
}

.home svg{
  margin-top: 3em;
  height: 50px;
  width: 50px;
}